/*Make body a vertical flex container*/
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

/*Main body horizontal flex container*/
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}

/*article*/
article {
    flex: 2;
    overflow-y: auto;
    background-color:  #f8f8f8;
    padding: 20px;
    line-height: 1.6;
    font-family: Georgia, serif;
}

header{
   background-color: #1e1e1e;
  color: white;
  padding: 20px; 
}
aside{
     background-color: #e2e2e2;
  padding: 15px;
  font-size: 14px;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}